@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');


* {
    margin: 0px;
}

section {
    margin-bottom: 120px;

}

.banner {
    height: 600px;
    border-radius: 16px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Banner\ Image.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 50px 100px 0px 100px;
}

.banner-title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    width: 632px;
    margin-top: 16px;
}

.banner-subtitle {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* offer */
.offer {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.offer-title {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 48px;
}

.offer-details {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
}

.offer-cat {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 48px;
}

.offer-img {
    width: 802.9px;
    height: 500px;
}

/* Welcomwe to party page  */

.welcome {
    height: 600px;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    margin: 0px 100px;
}

.container-welcome {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.welcome-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 68px;
    letter-spacing: 7.04px;
    margin-bottom: 24px;
}

.welcome-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
}

.btn-1 {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border: none;
    background-color: transparent;
    cursor: pointer;

}

.text {
    padding: 126px 39px 142px 126px;

}

.image {
    padding: 68px 138px 68px 39px;
    height: 464.662px;
}

/* Location styles */
.location {
    height: 482px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: 120px 100px;
    border-radius: 16px;
}

.location-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 48px;
    padding: 100px 386px 48px 385px;

}

.text-info {
    color: #070211;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.red-text {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
}

.btn-2 {
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 8px;
    background: #F00;

    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

/* New Best Offer  */

.best-offer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 120px 100px;
    ;
}

.left-best {
    align-content: center;
}

.middle-best {
   /* width: 30%; */
   align-items: start;

}

.right-best {
    align-content: end;

}

.best-offer-subtitle {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
}

.best-offer-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 22px;
}

.best-offer-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 393px;

}

.best-offer-img {
    border-radius: 463px;
    border: 15px solid #F00;
    padding: 49px;
    overflow: hidden;
      display: inline-block;
}

.best-offer-img img {
    border-radius: 364.844px;

      width: 364.844px;
height: 364.844px;
      object-fit: cover;
    }

.best-offer-year {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 16px;
}

.best-offer-description-2 {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 43px;
    width: 276px;
}

/* Holiday Sale Styles */

.holiday-sale {
    margin: 120px 100px;
}

.holiday-sale-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.caintainer-subtitle {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
}

.holiday-sale-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 28px;
}

.holiday-sale-red {
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.holiday-sale-des {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 64px;
}

.imager {
    position: relative;
    display: inline-block;
    z-index: 2;
}

.img-1 {
    width: 600px;
    position: relative;
    z-index: 3;
    left: -240px;
}

.imager img:last-child {
    position: absolute;
    right: -320px;
    top: 150px;
    width: 206.841px;
    height: 206.841px;
    z-index: 0;
}

.img-2 {
    width: 100%;
    margin-top: -120px;
    z-index: 1
}

/* best gifts */
.best-gifts {
    margin: 120px 100px;

}

.red-subtitle {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
}

.best-gifts-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 22px;
}

.best-gifts-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 48px;
}

.best-gifts-images {
    display: flex;
    flex-direction: column;
    gap: 24px;
    /* width: 100%; */
}

.img-column {
    display: flex;
    gap: 24px;
}

.baler {
    width: 424px;
    height: 450px;
}

/* Newsletter styles */

.newsletter {
    margin: 120px 100px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    height: 616px;
}

.newsletter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 80px 212px;

}

.email-icon {
    width: 150px;
    height: 150px;
    margin-bottom: 40px;
}

.newsletter-title {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 22px;
}

.newsletter-des {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 48px;
}

.button-for-input {
    display: flex;
    height: 72px;



}

.email-input {
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
    border: none;
    width: 438px;

    color: rgba(7, 2, 17, 0.30);
    text-align: left;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 30px;

}

.btn-4 {
    border-radius: 0 50px 50px 0;
    background: #F00;
    border: none;
    width: 210px;
}

/* Footer styles */
footer {
    background: #070211;
    height: 609px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 0px 100px;
}

.footer-text {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    text-decoration: none;
}

.upper-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 120px;
}

.middle-icons {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    width: 1320px;
    height: 160px;
    margin-top: 50px;
}

.lowerfooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}